.card-hover:hover {
    transform: scale(1.08);
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
} 

.card-design{
    background-color: rgba(243, 243, 243, 0.794);
    border-radius: 15px;
 
}

.card-design img {
    border-radius: 15px;
}