.footer-img{
    background-image: url('https://as1.ftcdn.net/v2/jpg/03/17/37/60/500_F_317376035_7lFFN53JEpALQrCGk5wcyWFZd7Ygrl8o.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }