
.footer-li {
    display: inline;
    font-size: 1.35rem;
}
.footer-img img{
    display:block;
    width: 60%;
}

@media only screen and (max-width: 763px) {
    .footer-li {
        display:block;
        font-size: 1.35rem;
    }
  }